{{- if .Values.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "dataflow-operator.fullname" . }}-role
  labels:
    {{- include "dataflow-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - dataflow.dataflow.io
  resources:
  - dataflows
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataflow.dataflow.io
  resources:
  - dataflows/finalizers
  verbs:
  - update
- apiGroups:
  - dataflow.dataflow.io
  resources:
  - dataflows/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
# Operator создаёт и владеет Deployments и ConfigMaps для процессоров DataFlow
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
{{- if .Values.gui.enabled }}
# GUI: список namespaces для выбора в UI
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - list
  - get
# GUI: read-only доступ к подам и логам
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods/log
  verbs:
  - get
{{- end }}
{{- end }}

